# PAD - Praca domowa 1
## Jan Solarz s26342

### Zadanie 1
#### a)

Tworzymy klasę Animal z odpowiednimi atrybutami i metodą breed

In [197]:
class Animal():
    def __init__(self, gender= "Female"):
        self.isAlive = "TRUE"
        if gender != "Male":
            gender = "Female"
        self.gender = gender
    def breed(self, partner):  
        
        if self.gender == "Female" and partner.gender == "Male" and self.genus == partner.genus:
            if self.genus == 'Canis':
                return Dog() 
            else:
                return Cat()       
        else:
            print("attribute not found")

Definiowanie klas Dog i Cat, które dziedziczą po Animal.

In [198]:
class Dog(Animal):
    genus = "Canis"
    def woof(self):
         print("woof woof!")
class Cat(Animal):
    genus = "Cat"
    def puur(self):
         print("puur!")
            
Duffy = Cat()
Fluffy = Dog("Male")
Didi=Dog("khjb")

In [199]:
print("Duffy's gender:",Duffy.gender)
print("Fluffy's genus:",Fluffy.genus)
print("Didi is a",Didi.gender, "and makes:")
Didi.woof()

Duffy's gender: Female
Fluffy's genus: Canis
Didi is a Female and makes:
woof woof!

#### b)

Tworzenie instancje klas cat i dog za pomocą metody breed.

In [200]:
dog1 = Dog("Male")
dog2 = Dog("Female")
cat1 = Cat()
cat2 = Cat("Male")

In [201]:
print(cat1.breed(cat2).isAlive,cat1.breed(cat2).puur())

puur!
TRUE None

In [202]:
print(dog2.breed(dog1).isAlive,dog2.breed(dog1).gender)

TRUE Female

Przechwytywanie wyjątku

In [203]:
print(cat1.breed(dog1))
print(cat2.breed(cat1))

attribute not found
None
attribute not found
None

### Zadanie 2

In [204]:
import statistics as st

Tworzymy klasę worker z odpowiednimi atrybutami

In [205]:
class worker:
    Number = 1
    def __init__(self, Name, Age, Salary):
        self.Name = Name
        self.Age = Age
        self.Salary = Salary
        self.Number = worker.Number
        worker.Number += 1

Definiowanie listy odpowiednich instancji klasy worker

In [206]:
s1 = worker("Adam", "1983", "1500")
s2 = worker("Anna", "1981", "1700")
s3 = worker("Błażej", "1990", "1800")
s4 = worker("Beata", "1992", "1600")
s5 = worker("Czesław", "1980", "2000")
s6 = worker("Cecylia", "1983", "2100")
s7 =  worker("Daniel", "1976", "1900")

sss = [s1,s2,s3,s4,s5,s6,s7]

Liczenie odpowiednich zarobków

In [208]:
mean = st.mean([int(s1.Salary),int(s2.Salary),int(s3.Salary),int(s4.Salary),int(s5.Salary),int(s6.Salary),int(s7.Salary)])
print("Średnie zarobki w firmie wynoszą:", mean)

Średnie zarobki w firmie wynoszą: 1800

In [209]:
import datetime
now = datetime.datetime.now()
g=[]
h=[]
for i in range(0,7):
    if now.year - int(sss[i].Age) > 30:
        a = int(sss[i].Salary)
        g.append(a)
    else:
        b = int(sss[i].Salary)
        h.append(b)
a1=st.mean(g)
b1=st.mean(h)
print("Grupy posiadają średnie zarobki odpowiednio:",round(a1,2),"i",b1)

Grupy posiadają średnie zarobki odpowiednio: 1833.33 i 1600